.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

.panel-primary{
  padding: 20px;
}

.panel-body{
  padding-top: 20px;
  padding-left: 30px;
}

.panel-body p{
  padding: 20px;
  padding-bottom: 80px;
}

.card{
  margin:30px;
  padding-left: 20px;

}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 80px;
}

#footer {
  position: bottom;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

